label {
  display: block;
  vertical-align: middle;
}

input[type=checkbox] {
  margin-right: .25em;
  vertical-align: middle;
}

#going:checked ~ #going-inputs {
  display: block;
}

#going:checked ~ #not-going-inputs {
  display: none;
}

#going:not(:checked) ~ #going-inputs {
  display: none;
}

#going:not(:checked) ~ #not-going-inputs {
  display: block;
}
