              <div class="item-separator"></div>
              <div>
                <label style="color: #F0E097;">Guest $num</label>
                <div>
                  <label>First name</label>
                  <input type="text" name="first_name" value="$first_name" required>
                </div>
                <div class="item-separator"></div>
                <div>
                  <label>Last name</label>
                  <input type="text" name="last_name" value="$last_name" required>
                </div>
                <div class="item-separator"></div>
                <div>
                  <label>Dietary notes</label>
                  <textarea name="dietary_notes">$dietary_notes</textarea>
                </div>
              </div>
